@import url('https://fonts.googleapis.com/css2?family=Cormorant&family=Grape+Nuts&family=Lemonada:wght@500&family=Maven+Pro&family=Montserrat:wght@300&family=Poppins&display=swap');

#about{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.aboutusp{
   padding-top: 1em;
   font-weight: 400;
   font-family: 'Cormorant', serif;
}
.aboutus{
   padding-left: 2em;
   font-size: 1.5rem;   
   
}
.aboutus h2{
   font-weight: 700;
   font-size: 2.5rem;
}

@media screen and (max-width : 800px ){
   .aboutnnas{
       padding: 1em 1em;
       font-size: 1rem;
   }
   .nnascover{
       height: 400px;
       max-width: 100%;
   }
   .aboutus{
      padding-left: 0.5em;
   }
   .aboutusp{
      font-size: 1rem;
   }
}